<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign Up | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="~/Assest/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Assest/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->

    <link href="~/Assest/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Assest/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Assest/css/style.css" rel="stylesheet">
</head>
<style>
    img {
        margin-left: 100px;
        padding: 5px;
        width: 150px;
    }
    
</style>

<body class="signup-page">
    <div class="signup-box">
        <div class="logo">
            <img src="~/Assest/signup_logo.png" />
            <small>
                FREE ONLINE SCHOOL MANAGEMENT SOFTWARE
            </small>
        </div>
        <div class="card">
            <div class="body">
                <div class="msg">Register a new membership</div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span>
                    <div class="form-line">
                        <input type="email" id="txtemail" class="form-control" name="email" placeholder="Email Address" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>

                    <div class="form-line">
                        <input type="password" id="txtpassword" class="form-control" name="password" minlength="6" placeholder="Password" required>

                    </div>


                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" id="confirmpassword" class="form-control" name="confirm" minlength="6" placeholder="Confirm Password" required>
                    </div>
                </div>
               

                <button id="btnsubmit" class="btn btn-block btn-lg bg-pink waves-effect" type="submit">SIGN UP</button>
            
                <div class="m-t-25 m-b--5 align-center">
                    @Html.ActionLink("You already have a membership?", "Login", "Login")
                </div>
            </div>

        </div>
    </div>

   

    <!-- Jquery Core Js -->
    <script src="~/Assest/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/Assest/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/Assest/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


    <!-- Bootstrap Notify Plugin Js -->
    <script src="~/Assest/plugins/bootstrap-notify/bootstrap-notify.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Assest/plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="~/Assest/js/admin.js"></script>
    <script src="~/PageScript/iSchoolApp.js"></script>
 

    <!-- Validation Plugin Js -->
    <script src="~/Assest/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="~/Assest/js/admin.js"></script>
    <script src="~/Assest/js/pages/examples/sign-up.js"></script>
    
 <script>
     $(document).ready(function () {


    $("#btnsubmit").click(function () {
        
        if ($("#txtemail").val() == null || $("#txtemail").val() == "" ) {
            showNotification("danger", "Please fill Email field!");
        }
        else if ($("#txtpassword").val() == null || $("#txtpassword").val() == "") {
            showNotification("danger", "Please fill Password field!");
        }
        else if ($("#confirmpassword").val() == null || $("#confirmpassword").val() == "") {
            showNotification("danger", "Please fill Confirm Password field!");
        }
        else {
            var SignupModel = {
                Email: $("#txtemail").val(),
                Password: $("#txtpassword").val(),
            };
            
            $.ajax({
                type: 'Post',
                url: '/SignUp/Signuped',
                data: SignupModel,
                success: function (resp) {
                    if (resp=true)
                    {
                        showNotification("success", "Registration Successful!");
                        $("#txtemail").val("");
                        $("#txtpassword").val("");
                        $("#confirmpassword").val("");
                    }
                    else{
                         showNotification("danger", "Registration failed!");
                    }
                    
                }

            });
        }

    });

    $("#txtemail").change(function () {
        var SignupModel = {
            Email: $("#txtemail").val()
        };
        $.ajax({

            type: "post",
            url: '/SignUp/emailcheck',
            data: SignupModel,
            success: function (resp) {
                if (resp == true) {
                    $("#txtemail").val("");
                    showNotification("danger", "email already exit");
                }

            }
        });
    });
    $("#confirmpassword").change(function () {
        var newpass = $("#txtpassword").val();
        var confirmpass = $("#confirmpassword").val();
        if (newpass != confirmpass) {
            $("#confirmpassword").val("");
            showNotification("danger", "password not matched");
        }

    });

    $("#txtemail").change(function () {
        var getemail = $("#txtemail").val();
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (!regex.test(getemail)) {
            $("#txtemail").val("");
            showNotification("danger", "invalid email");
        }
    });
});


 </script>

</body>

</html>